<style>

body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.banner-image {
  width: 128px;
  height: 128px;
}

.banner {

}

.name {
color: purple;
text-size-adjust: 100px;
}

.title {
color: green;
text-size-adjust: 75px;
}

.social-icons {

}

.social-names {
color: purple;
text-size-adjust: 50px
}

</style>
